body {
	background-color: #282828; /*#007386*/
	margin: auto;
}

.header {
	margin: auto;
	font-family: 'Roboto Slab', serif;
	color: white;
	background-color: #3f3f3f; /*#0ca0af*/
	padding: 10px;
	padding-bottom: 20px;
	text-align: center;
}

h1 {
	font-size: 50px;
}

h2 {
	font-family: 'Roboto Slab', serif;
	color: white;
	text-align: center;
}

h3 {
	font-family: 'Roboto Slab', serif;
	color: white;
	text-align: center;
	background-color: #3f3f3f; /*#0ca0af*/
	padding: 20px;
	padding-left: 35px;
	text-align: left;
	margin-right: 0px;
}

p {
	font-family: 'Roboto Slab', serif;
	color: white;
	text-align: center;
	font-size: 18px;
}

img {
	width: 100%;
}

span {
	font-size: 28px;
}
